
.header1 {
    background-color:aliceblue;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    min-height: 100%;
}
.menu-item1 {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding-top: 100px;
    padding-left: 10px;
    width: 40%;
    
}
.header1 .hinhanh{
    width: 50%;
}
.header1 .hinhanh img{
    width: 20rem;
    height: 20rem;
}
.mieuta{
    font-weight: normal;
}
.ten{
    font-size: 30px;
    text-align:center;
}

.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.mini-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.mini-slide img {
    width: 70px;
    height: 70px;
    margin: 0 10px;
    cursor: pointer;
    border: 2px solid #CCC;
}

.mini-slide img:hover {
    border: 2px solid #007bff;
}

.card-text {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    margin-top: 15px;
}

.product-image {
    max-height: 25rem;
    object-fit: contain;
    margin-bottom: 20px;
    border: 2px solid #CCC;
}

.product-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

.product-price {
    font-size: 24px;
    font-weight: 600;
    color: #007bff;
    margin-top: 20px;
}

hr {
    border: 1px solid #CCC;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    .mini-slide img {
        width: 50px;
        height: 50px;
    }

    .product-image {
        max-height: 300px;
    }
}
