<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATM Vietnam | Company Information</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css"
          integrity="sha512-ArqNC4fBxL47MykCwD+oMmb84ozVbXf4dwx7V32OzDr1GGazVktgDk1GtQvJtIyRvnKJNUgOZAC0hH3qVOl/Fg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <!-- Custom styles -->
    <style>
    body {
      background-color: #f8f9fa;
    }

    .company-info {
      max-width: 800px;
      margin: 0 auto;
      padding: 50px 0;
    }

    .company-logo {
      display: block;
      margin: 0 auto;
      max-width: 200px;
    }

    h1 {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 20px;
      text-align: center;
    }

    p {
      font-size: 1.2rem;
      text-align: justify;
    }

    </style>
</head>
<body>
    <!--Content-->
    <div class="container company-info">
        <a href="http://183.80.227.42:8000/"><img src="/static/images/logo.jpg" alt="ATM Vietnam" class="company-logo" height=></a>
        <h1>ATM Vietnam</h1>
        <p>A passion for wood as a natural raw material is the driving force behind Kaindl's always innovative ideas and
            products in the Flooring and Interior Design segments. It is what makes this Salzburg-based company one of the
            world's leading manufacturers of high quality boards and floors.</p>
    </div>

<!-- Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.min.js"
        integrity="sha512-JFyTpPn7m5dRiq1N4L4w/JhNlN4dZDzPcS9P/5DRiQgW1+JoBv95H6IwYDZf8Wgkg0iM9aX9OEmFrxA8OcKU6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
