<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <!-- Load Bootstrap CSS -->
    <link href="../static/css/login.css" rel="stylesheet">
    <script src="../static/js/login.js">

    </script>
    <!-- Custom styles -->
    <style>
    </style>
</head>

<body>
    <div class="form-container">
        <span class="form-container__title">Sign in</span>
        <form>
            <div class="form-container__sign-buttons">

                <button type="button">
                    <svg width="16" height="16">
                        <g fill="none">
                            <path
                                d="M2.629 10.659A5.893 5.893 0 0 1 2 8c0-.956.226-1.858.629-2.659l2.065 1.544a3.487 3.487 0 0 0 0 2.23L2.629 10.66z"
                                fill="#FBBC05"></path>
                            <path
                                d="M2.629 5.341C3.627 3.357 5.713 2 8.139 2c1.563 0 2.959.573 4.047 1.5L10.4 5.245a3.6 3.6 0 0 0-2.26-.79c-1.61 0-2.97 1.015-3.446 2.43L2.629 5.34z"
                                fill="#EA4335"></path>
                            <path
                                d="M2.628 10.657L4.692 9.11c.475 1.417 1.835 2.435 3.448 2.435 1.702 0 2.986-.845 3.293-2.318H8.14V6.91h5.72c.084.355.14.736.14 1.091 0 3.818-2.79 6-5.86 6-2.427 0-4.514-1.358-5.512-3.343z"
                                fill="#34A853"></path>
                            <path
                                d="M12.141 12.506l-1.96-1.483a2.704 2.704 0 0 0 1.252-1.796H8.14V6.91h5.72c.084.355.14.736.14 1.091 0 1.956-.732 3.482-1.859 4.506z"
                                fill="#4285F4"></path>
                        </g>
                    </svg>
                    <span>Sign in with Google</span>
                </button>
            </div>
            <div class="form-container__sign-inputs">
                <label>
                    <legend>Email</legend>
                    <input required="" id="userEmail" placeholder="Input with email validation">
                    <span></span>
                </label>
                <label>
                    <legend>Password</legend>
                    <input id="userPass" type="password" placeholder="Input with password validation">
                    <span></span>
                </label>
                <button class="submit-button" id="submit" type="button" onclick="login()">
                    Login
                </button>
            </div>
            <div class="form-container__auth-block">
                <span>Don't have an account? Signup <a href="#">here</a></span>
            </div>
        </form>
    </div>
    <div class="notification">
        <!-- the viewBox is 79x79 due to
            - the size of the graphic, 65x75
            - the stroke width, 4x4
            - the empty space included on either side of the graphic to avoid cropping when rotating the bell's shape 10x0
        -->


        <!-- message displaying the notification
        include modifiers to change the style of the message
        message--info
        message--success
        message--warning
        message--danger
    
        ! add a button to dismiss the message to the side
        -->
        <div class="notification__message message--info">
            <h1>Info</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>

            <!-- x icon through a path element -->
            <button aria-labelledby="button-dismiss">
                <span id="button-dismiss" hidden>Dismiss</span>
                <svg viewBox="0 0 100 100" width="100" height="100">
                    <!-- group to style the path -->
                    <g stroke="currentColor" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"
                        fill="none">
                        <!-- group to center and rotate the + sign to show an x sign instead -->
                        <g transform="translate(50 50) rotate(45)">
                            <!-- path describing two perpendicular lines -->
                            <path d="M 0 -30 v 60 z M -30 0 h 60">
                            </path>
                        </g>
                    </g>
                </svg>
            </button>
        </div>
    </div>
    <link href="../static/css/notification.css" rel="stylesheet">
    <script src="../static/js/notification.js" crossorigin="anonymous"></script>
    <script> check_token();</script>
    <script src="../static/js/dialog.js"></script>

</body>

</html>