<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>FloorCollection</title>
  <!--/* Navbar Styles */-->
  <link href="../static/css/index.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link href="../static/css/bootstrap.css" rel="stylesheet">
  <link href="../static/css/products.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">

  <script>
    function changTopNavbar(){
    var navbar = document.getElementById("navbar");
    document.body.style.paddingTop = navbar.offsetHeight + "px";
  };
  
  window.addEventListener("resize", function() {
    changTopNavbar();
    
  });
  
  </script>
</head>

<body >
  <div id="floor_type_id" value="{{ floor_type_id }}"></div>
  <!-- Navbar -->
  <nav id ="navbar" class="navbar navbar-expand-lg navbar-light bg-light" style="position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;" ">
  
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img src="/static/images/logo.jpg" alt="ATM Vietnam" style="max-height: 55px; max-width: 100%; border: none;">
        </a>
      </div>
      <div class="navbar-menu">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="/company">GIỚI THIỆU</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown"
              data-bs-target="#dropdown-equipment" aria-expanded="false">
              SẢN PHẨM
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown1" id="dropdown-equipment">
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              DỊCH VỤ
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown2" id="dropdown-trees">
              <li><a class="dropdown-item" href="/cungcap">Cung cấp</a></li>
              <li><a class="dropdown-item" href="#">Lắp đặt và bảo hành</a></li>
              <li><a class="dropdown-item" href="#">Sửa chữa</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              LIÊN LẠC
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown3" id="dropdown-trees">
              <li><a class="dropdown-item" href="/showroom">Showroom</a></li>
              <li><a class="dropdown-item" href="/contact">Liên hệ</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="navbar-right">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Menu</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="bi bi-person"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end w-100" aria-labelledby="navbarDropdown5">
              <li><a class="dropdown-item" href="/login">Login</a></li>
              <li><a class="dropdown-item" href="/signup">Sign up</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Image -->
  <script src="../static/js/products.js"></script>
<div class="productgrid" id="productList">
  
</div>
<script src="../static/js/products.js"></script>
<script>loadProductList()</script>
  <script>changTopNavbar();</script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
  <script src="../static/js/index.js"> </script>
  <script>loadFloorType();</script>
  
</body>

</html>