<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <!-- Load Bootstrap CSS -->
    <!-- <link href="{{url_for('static', path='/css/login.css')}}" rel="stylesheet"> -->
    <link href="../static/css/test.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/aa319e5b40.js" crossorigin="anonymous"></script>
    
</head>

<body>

    <form id="form1" runat="server">
    

        <header class="header">
            <a class="link-trang-danh-muc" href="Home.aspx">
                LOUIS VUITTON
            </a>
        
            <a class="menu-item" href="Home.aspx">
                Danh mục 1
            </a>
            <a class="menu-item" href="Home.aspx">
                Danh mục 2
            </a>
            <a class="menu-item" href="Home.aspx">
                Danh mục 3
            </a>

        </header>
            
            <br />
        <div>
            <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
            
            </asp:ContentPlaceHolder>
        </div>
        <div class="footer">
            Copyright by LOUIS VUITTON
        </div>
        </form>
   
</body>

</html>